__pycache__/
*.py[cod]

venv/
env/

.env

prueba.py
test_runner.py

storage/
!storage/.gitkeep

registros_prueba.json
contexto_prueba.json
variables_base.json
scripts/
scripts/contexto_prueba.json
scripts/variables_base.json
scripts/registros_prueba.json

storage/logs/
*.log

assets/images_debug/
storage/cookies/